/* Write your CSS here */
.controller-container {
  background-color: #475569;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20vh;
  margin-bottom: 20px;
}
